@model WizardViewModel
@{
    ViewData["Title"] = "Wizard";
}

<div class="text-center">
    <h1 class="display-4">Wizard</h1>
    <p>This is wizard step 1.</p>
    
    <div id="wizardStepDiv">
        <partial name="@Model.PartialView"/>
    </div>
    <div>
        <input type="button" id="previous" value="previous" class="btn btn-secondary" />
        <input type="button" id="next" value="next" class="btn btn-primary" />
    </div>
</div>

<script>
    document.querySelector("#next").onclick = function() {
        // Set up our HTTP request
        var xhr = new XMLHttpRequest();
        // Setup our listener to process completed requests
        xhr.onload = function() {

            // Process our return data
            if (xhr.status >= 200 && xhr.status < 300) {
                // What do when the request is successful
                console.log('success!', xhr);
                document.querySelector("#wizardStepDiv").innerHTML = xhr.response;

            } else {
                console.log('The request failed!');
            }
        };
        //xhr.body = data: { id: 'Step1' }
        xhr.open('GET', '/Wizard/WizardStep2');
        xhr.send();
    };

    document.querySelector("#previous").onclick = function () {
        // Set up our HTTP request
        var xhr = new XMLHttpRequest();
        // Setup our listener to process completed requests
        xhr.onload = function () {

            // Process our return data
            if (xhr.status >= 200 && xhr.status < 300) {
                // What do when the request is successful
                console.log('success!', xhr);
                document.querySelector("#wizardStepDiv").innerHTML = xhr.response;

            } else {
                console.log('The request failed!');
            }
        };
        //xhr.body = data: { id: 'Step1' }
        xhr.open('GET', '/Wizard/WizardStep1');
        xhr.send();
    };
</script>